body
{
	background-color: #F6F6F6;
}
.SignInContainer
{
	margin-top: 8em;
	width: 70%;

}
.SignIn-img
{
	height: 25em;
	
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
  text-decoration: none;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}	

